/* Header Styles */
.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #3498db;
}

.header-buttons {
  display: flex;
}

.header-buttons a {
  color: rgb(19, 19, 227);
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
}

/* Container Styles */
.container {
  display: flex;
}

.left-menu {
  width: 150px;
  margin-top: 20px;
}

.content {
  flex: 1;
  margin-left: 300px;
  align-self: flex-start;
  margin-top: 15px;
}

.menu-container {
  background-color: #3498db;
  padding: 10px;
  border-radius: 5px;
}

.menu-item {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px;
}

/* Table Styles */
.table-container {
  margin: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

/* Grades Table Styles */
.grades-table {
  margin-top: 20px;
}

/* Content Styles */
.grade-content,
.table-content,
.subtopics-table,
.topics-table {
  margin: 20px;
}

/* Form Styles */
.add-form {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: baseline;
}

label {
  display: block;
  margin-bottom: 8px;
  margin-right: 10px;
}

input {
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 30px;
}

.submit-button,
.add-button,
.edit-button,
.delete-button,
.save-button,
.cancel-button {
  font-size: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-left: 10px;
}

.submit-button:hover,
.add-button:hover,
.edit-button:hover,
.delete-button:hover,
.save-button:hover,
.cancel-button:hover {
  background-color: #2980b9;
}

/* Books Table Styles */
.books-table,
.topics-table,
.subtopics-table,
.chunks-table {
  border-collapse: collapse;
  width: 100%;
}

.grades-table th,
.grades-table td,
.books-table th,
.books-table td,
.topics-table th,
.topics-table td,
.subtopics-table th,
.subtopics-table td,
.chunks-table th,
.chunks-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.grades-table th,
.books-table th,
.topics-table th,
.subtopics-table th,
.chunks-table th {
  background-color: #f2f2f2;
}

/* Image Styles */
.thumbnail-img {
  width: 150px;
  height: auto;
  margin-left: 20px;
}
